@mixin resolution($width,$height){
    width: $width;
    height: $height;
}
@mixin flex($justify:center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin nightHawk{
    background-image: linear-gradient(#2980b9,#2c3e50);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@mixin midnightCity{
    background-image: linear-gradient(#232526,#414345);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
}

@mixin clearSky($a:0.8){
    background-image: linear-gradient(rgba(0, 92, 151,$a),rgba(54, 55, 149,$a));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@font-face {
    font-family: mulish;
    src: url("../assets/fonts/Mulish-Regular.ttf");
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: darkgray;
    border-radius: 10px;
}

html,body{
    @include clearSky();
    @include resolution(100%,100%);
    overflow-x: hidden;
    cursor:default;
}

.containerWrapper{
   height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mulish;
}