@import 'app';
@import 'navbar';
@import "hourlyForecast";

.cardWrapperDaily{
    @include flex;
    @include resolution(150px,150px);
    @include margin(1.2rem,0,0,1rem);
    flex-wrap:wrap;
    flex-direction: column;
    border-radius: 1rem;
    color: #fff;
    border: 2px solid white;
    background-color: rgba($color: #000000, $alpha: 0.7);

    .cardDivDaily{
        @include resolution(150px,150px);
        @include flex;
        flex-direction: column;
        position: relative;
        
        
        .cardIconDaily{
            font-size: 4rem;
            position: absolute;
            top: -1.3rem;
            @include wForecastIconColor();
        }

        .cardTempDaily{
            @include flex;
            @include resolution(100%,100%);
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 1.2rem;
            position: absolute;
            top: 20%;
                        
            .cardTempExpand{
                @include resolution(100%,100%);
                @include flex;
                flex-direction: column;
            }
        }
    }
}
