@import "navbar";
@import "app";

.sunny{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/sunny.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: goldenrod;
    }
}

.fog{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/fog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: grey;
    }
}

.winter{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/winter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: #fff;
    }
}

.rainy{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/rainy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: grey;
    }
}

.cloudy{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/cloudy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 8rem;
        color: darkgray;
    }
}

.snowy{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/snowy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: white;
    }
}

.nightClear{
    @include resolution(100%,100%);
    background-image: url("../assets/weatherAppImg/coldNight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: ease-in-out 0.5s;
    .weatherIcon{
        font-size: 6rem;
        color: goldenrod;
    }
}

.dataWrapper{
    @include flex;
    @include resolution(100%,100%);
    flex-direction: column !important;
    position: relative;
}

.currentData{
    @include resolution(100%,100%);
    @include flex;
    flex-direction: column;
    color: white;
    
    .currentTemp{
        font-size: 3.7rem;
    }

    .currentWeather{
        @include flex;
        @include margin(0,1rem,0,0);
        flex-direction: column;
        flex-wrap: wrap;
        float: left !important;
        top: 1rem;
        left: 1rem;
    }

    .currentCondition{
        font-size: 2rem;
    }

    .currentLoc{
        font-size: 1.2rem;
    }

    .currentWeatherWrapper{
        @include resolution(100%,100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
    }
}

.currentExtraDataWrapper{
    @include flex;
    @include resolution(90%,250px);
    @include padding(0,0,1.2rem,0);
    @include margin(0,0,20rem,0);
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #fff;
    font-weight: bolder;
    background-color: rgba($color: #fff, $alpha: 0.4);
    border-radius: 1rem;

    .currentExtraDataDiv{
        @include flex;
        @include resolution(100%,100%);
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;

        .currentExtraDataDivWrapper{
            @include flex;
            @include resolution(100%,100%);
            @include margin(0,1rem,0,0);
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .wDirection{
            font-size: 1.5rem;
        }

        .currentExtraDataHeading{
            font-size: 0.8rem;
        }
    }
}

.hourlyHeading{
    @include margin(0,0,17%,0);
    position: relative;
}

.dailyHeading{
    @include margin(0,0,8%,0);
}

.forecastReport{
    @include flex;
    @include resolution(90%,100%);
    flex-direction: row ;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 40;
    overflow-x: scroll;
    overflow-y: hidden;
    color: white;
    scrollbar-width: none !important;
}

.forecastReport::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.individualDiv{
    @include flex;
    flex-direction: column;
    justify-content: space-around;
    
    .individualTime{
        @include margin(0,0,-2rem,0);
    }

    .individualCard{
        @include margin(0,1rem,0,0);
    }
}

@media(min-width:491px){
    .currentData{
        flex-direction: row;
    }

    .currentExtraData{
        flex-direction: column;
        justify-content: flex-start;

        div{
            @include resolution(100%,100%);
        }
    }
}

@media(max-width:310px){
    .hourlyHeading{
        @include margin(0,0,20%,0);
    }

    .dailyHeading{
        @include margin(0,0,15%,0);
    }

    .currentExtraDataWrapper{
        @include margin(0,0,25rem,0);
    }
}

@media(min-width:660px){
    .currentExtraDataWrapper{
        @include resolution(50%,250px);
        @include margin(0,18rem,3rem,0);
    }
    
    .hourlyHeading{
        @include margin(0,0,10%,0);
    }
}