@import 'navbar';
@import 'app';

.cardWrapperHourly{
    @include flex;
    @include resolution(140px,140px);
    @include padding(1rem,0,1rem,1rem);
    @include margin(1.2rem,0,0,1rem);
    flex-wrap:wrap;
    flex-direction: column;
    border-radius: 1rem;
    color: #fff !important;
    border: 2px solid white !important;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.8);

    .cardDivHourly{
        @include margin(2rem,2rem,-1rem,0);
        @include flex;
        flex-direction: column;
        position: absolute;
        top: -3px;
        .cardIconHourly{
            font-size: 4rem;
        }

        .cardTempHourly{
            font-size: 1.5rem;
        }
        div{
            z-index: 40;
            @include margin(0,0,0,0.5rem);
        }
    }


}