@import 'navbar';
@import 'app';

@mixin wForecastIconColor(){
    .sunnyF{
        color: goldenrod;
    }
    
    .fogF{
        color: grey;
    }
    
    .winterF{
        color: #fff;
    }
    
    .rainyF{

        color: grey;
    }
    
    .cloudyF{

        color: darkgray;
    }
    
    .snowyF{

        color: white;
    }
    .thunderF{
        font-size: 6rem;
        color: darkgrey;
    }
}

.cardWrapperHourly{
    @include flex;
    @include resolution(140px,140px);
    @include margin(1.2rem,0,0,1rem);
    flex-wrap:wrap;
    flex-direction: column;
    border-radius: 1rem;
    color: #fff;
    border: 2px solid white;
    background-color: rgba($color: #000000, $alpha: 0.8);

    .cardDivHourly{
        @include resolution(140px,140px);
        @include flex;
        flex-direction: column;
        position: relative;

        .cardIconHourly{
            font-size: 4.5rem;
            position: absolute;
            top: -1rem;
            @include wForecastIconColor();
            
        }

        .cardTempHourly{
            font-size: 1.5rem;
            position: absolute;
            top: 60%;
        }
    }
}